/* made by fadly */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


body{
    /* background-color: #F7F8F8; */
    background-color: #F2F6FF;
    font-family: 'Lato', -apple-system, sans-serif;
    /* font-family: 'Lora', Georgia, 'Times New Roman', Times, serif; */

    height:100%;
}

.fd-head-title{
  font-size: 32pt;
  font-weight: 600;
}
#fd-dot{
    color: #E9715A;
    font-size: 40px;
    
}
.fd-logo{
    font-size: 22px;
    font-weight: 600;
    
}
.title-section{
  font-size: 24pt;
  font-weight: 700;
  color: #3F3F3F
}
.fd-color-primary{
  color: #E9715A;
}

.fd-header{
  right: 0;
  position: absolute;
}

.fd-intro{
  /* background-color: #F7F8F8; */
  background-color: #F2F6FF;
  color: #3F3F3F;
  width: auto;
  height: 900px;
}

.title-intro{
  color: #3F3F3F;
  font-size: 48px;
  font-weight: 800;
  margin-top: 3em;
  line-height: 200%;
  font-family: 'Lora', Georgia, 'Times New Roman', Times, serif;
}
.subtitle-intro{
  margin-top: 2em;
  font-size: 16pt;
  text-decoration: underline;

}
.subtitle-intro a{
  color: #3F3F3F!important;
  font-size: 18px;

}
.subtitle-intro a:hover{
  color: #E9715A !important;
  transition: all 0.3s ease-in-out !important;
}

.image-journal{
  /* background-color: white; */
  min-height: 200px;
  /* max-height: 300px; */
  /* border: 2px solid transparent; */
  border-radius: 8px;
}
.image-journal img{
  height: 100%; 
  width: 100%; 
  object-fit: fill;
  border-radius: 8px;
}

.title-journal{
  font-size: 18pt;
  color: #3F3F3F;
  font-weight: 700;

}


.img-intro img{
  width: 52px;
}
.img-intro img.envelop{
  width: 28px;
}

.fd-journal{

}
.subtitle-journal{
  color: #ababab
}

.navbar-dark .navbar-nav .nav-link{
  color: #3F3F3F!important;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #E9715A!important;
}
a{
  transition: all 0.3s ease-in-out !important;
}

.fd-border-line{
  position: absolute;
  width: 100%;
  text-align: center;
  display: inline;
  border-bottom: 1px solid #E6E5F1; 
}

.fd-border-line-md{
  border-bottom: 1px solid #ececec
}

.copyright-fadly{
  color: #9DA2A9
}

.footer-link a{
  color: #9DA2A9
}

.footer-link a:hover{
  color: #3F3F3F
}

.title-p{
  font-size: 18px;
  line-height: 220%;
}
.copyright-fadly a{
  color: #9DA2A9 !important
}
.journal-title a{
  color: #3F3F3F;
  font-size: 22px;
}
.journal-title span{
  color: #BFBFBF
}

/* ***************** */

@media only screen and (max-width: 990px) {
  .fd-header{
    position: relative!important;
  }
}

@media only screen and (min-width: 960px) {
    /* styles for browsers larger than 960px; */
    .fd-title{
        margin: 20rem;
    }
}
@media only screen and (min-width: 1440px) {
    /* styles for browsers larger than 1440px; */
    .fd-title{
        margin: 20rem;
    }
}
@media only screen and (min-width: 2000px) {
    /* for sumo sized (mac) screens */
}
@media only screen and (max-device-width: 480px) {
   /* styles for mobile browsers smaller than 480px; (iPhone) */
}
@media only screen and (device-width: 768px) {
   /* default iPad screens */
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
  @media (min-width: 1200px) {
  .container {
    max-width: 920px;
  }
}
@media (min-width: 1366px) {
    .container {
      max-width: 1080px;
    }
  }
@media (min-width: 991px){
  
}