@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

body{
    background-color: #fff;
    font-family: 'Inter', sans-serif, -apple-system ;
    font-weight: 200;
    height:100%;
    background-image: url("../../assets/images/background/bg-shape.svg");
    background-repeat: repeat;
}

.fd-head-title{
  margin-left: -20px;
  font-size: 32pt;
  font-weight: 600;
}
#fd-dot{
    /* color: #E9715A; */
    font-size: 40px;
    
}
.fd-logo{
    font-size: 22px;
    font-weight: 600;
    
}
.title-section{
  font-size: 32px;
  color: #0D0C22;
  text-align: center;
}
.title-link a{
  font-size: 18pt;
  color: #0D0C22 !important
}
.subtitle-section{
  font-size: 28px;
  color: rgba(13, 12, 34, 0.6)
}
.fd-color-primary{
  /* color: #E9715A; */
}
.envelope-footer{
  float: left;
  margin-right: 20px;
}

.fd-header{
  right: 0;
  position: absolute;
}

.fd-intro{
  color: #808080;
  width: auto;
  height: 800px;
  /* background-color: white; */
}
.photo-me img{
  width: 280px;
  margin-top: 80px;
  margin-left: 85px;
}

.title-intro{
  color: #0D0C22;
  font-size: 74px;
  font-weight: 800;
  margin-top: 1em;
  line-height: 140%;
 
}
.title-intro #eyes{
  width: 78px;
}
.title-intro #ideas{
  width: 78px;
}
.subtitle-intro{
  font-size: 22px;
  text-align: center;

}
.btn-custom-aj{
  color: #1F243C;
  font-weight: 600;
  background-color: white;
  border-color: #1F243C;
  border-radius: 60px;
  padding: 10px 30px;
}
.btn-custom-aj:hover{
  color: white;
  background-color: #1F243C
}
.nav-item a i{
  font-size: 20px;
  color: #1F243C!important;
  padding: 2px;
}
.navitem a i:hover{
  color: #726F85
}
.navbar-dark .navbar-brand{
  color: #1F243C !important;
}
/* .gear{
  background: url("/assets/images/bg_gear.svg") no-repeat;
  background-size: auto;
  width: 300px;
  height: 300px;
  position: absolute;
  right: 30px;
  bottom: 0;
} */
/* .color-imp{
  color: rgba(255,255,255,0.5) !important;
}
.color-imp a:hover{
  color: #E9715A !important;
  transition: all 0.3s ease-in-out !important
} */
.subtitle-intro a{
  color: rgba(0,0,0) !important;
  font-size: 18pt;

}
.subtitle-intro a:hover{
  color: #E9715A !important;
  transition: all 0.3s ease-in-out !important;
}

.image-journal{
  /* background-color: white; */
  min-height: 200px;
  /* max-height: 300px; */
  /* border: 2px solid transparent; */
  border-radius: 8px;
}
.image-journal img{
  height: 100%; 
  width: 100%; 
  object-fit: fill;
  border-radius: 8px;
}

.title-journal{
  font-size: 18pt;
  color: #0D0C22;
  font-family: 'SuisseIntl'

}


.img-intro img{
  width: 52px;
}
.img-intro img.envelop{
  width: 28px;
}
.bubble{
  width: 28px;
}
.fd-journal{

}
.subtitle-journal{
  color: #ababab
}

.navbar-dark .navbar-nav .nav-link{
  color: #3F3F3F!important;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  /* color: #E9715A!important; */
}
a{
  transition: all 0.3s ease-in-out !important;
}

.fd-border-line{
  position: absolute;
  width: 100%;
  text-align: center;
  display: inline;
  border-bottom: 1px solid rgba(0, 0, 0, 0.10)
}

.fd-border-line-md{
  border-bottom: 1px solid #ececec
}

.copyright-fadly{
  color: rgba(13, 12, 34, 0.6) !important;
}

.footer-link a{
  color: rgba(13, 12, 34, 0.6) !important;
}

.footer-link a:hover{
  color: rgba(13, 12, 34) !important;
}

.title-p{
  color: rgba(13, 12, 34, 0.6);
  font-size: 18pt;
  margin: 1em 0em 2em 0;
  line-height: 200%
}
.title-p a{
  color: rgba(13, 12, 34, 0.6) !important;
  font-family: 'SuisseIntl'
}
.title-p a:hover{
  color: #0D0C22 !important
}
.copyright-fadly a{
  color: rgba(13, 12, 34, 0.6) !important;
}
.journal-title a{
  color: #3F3F3F;
  font-size: 22px;
}
.journal-title span{
  color: #BFBFBF
}
.socmed-title{
  float:left;
  margin-left: 1rem;
  margin-top: 0.5rem;
  font-size: 28px;
}
.socmed-title a{
  color: #0D0C22
}
.socmed-title a:hover{
  color: #23272b
}
.footer .talk{
  font-size: 50px;
}
.footer .mail a{
  color: #0D0C22;
  font-family: 'SuisseIntl';
  font-size: 48px;
}

.footer .find-me{
  color: #0D0C22;
  /* float: left; */
  margin-right: 10px;
  font-size: 40px;
}

.footer .link a{
  color: #0D0C22;
  font-family: 'SuisseIntl';
  font-size: 40px;

}
.envelope-footer span img{
  width: 56px; 
  margin: 0px 5px 0 10px
}


/* ***************** */

@media only screen and (max-width: 990px) {
  .fd-header{
    position: relative!important;
  }
}

@media only screen and (max-width: 960px) {
    
    .fd-title{
        margin: 20rem;
    }
    .fd-journal{
      margin-top: 20rem!important;
    }
    .fd-border-line{
      margin-top: 20rem!important;
    }
    .footer .find-me{
      float: none;
    }
    .gear{
      /* display: none; */
      width: 0;
      height: 0;
    }
    .title-intro{
      font-size: 40px;
    }
    .title-intro img{
      width: 60px;
    }
    .title-p{
      font-size: 20px;
    }
    .fd-intro{
      height: 400px;
    }
    .footer .find-me{
      font-size: 30px;
    }
    
    .footer .link a{
      font-size: 28px;
    }
    .envelope-footer span img{
      margin: 16px 5px 0 10px;
    }
    .subtitle-section{
      font-size: 20px;
    }
}
@media only screen and (min-width: 1440px) {
    /* styles for browsers larger than 1440px; */
    .fd-title{
        margin: 20rem;
    }
}
@media only screen and (min-width: 2000px) {
    /* for sumo sized (mac) screens */
}
@media only screen and (max-device-width: 480px) {
   /* styles for mobile browsers smaller than 480px; (iPhone) */
}
@media only screen and (device-width: 768px) {
   /* default iPad screens */
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
  @media (min-width: 1200px) {
  .container {
    max-width: 920px;
  }
}
@media (min-width: 1366px) {
    .container {
      max-width: 1080px;
    }
  }
@media (min-width: 991px){
  
}